$colors: (
  primary: #FCF6ED,
  secondary: #141c42,
  flap: #161925,
  main_text: #242A40,
  header: #383838,
  back: #E37575,
  icon: #A3A3A3,
  titles: #DDD8D1
);

@function color($color_name) {
  @return map-get($colors, $color_name)
};