.contact {
  display: grid;
  font-size: 10px;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  padding: 40px;
  background-color: color(secondary);
  box-sizing: border-box;
  

  > div {
    height: 100%;
    color: white;
    svg {
      stroke: white;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &__dropbox {
    display: grid;
    grid-template-columns: 18em;
    grid-template-rows: auto;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 1em;

    span {
      grid-area: 1 / 1 / 2 / -1;
      font-size: 2em;
      font-weight: 600;
    }
    
    #wind {
      grid-area: 2 / 1 / -1 / -1;
      width: 18em;
      
      .gust1 {
        stroke-dasharray: 18 90;
        stroke-dashoffset: 18;
      }
      .gust2 {
        stroke-dasharray: 10 33;
        stroke-dashoffset: 10;
      }
      .gust3 {
        stroke-dasharray: 10 28;
        stroke-dashoffset: 10;
      }
    }
    
    a {
      opacity: 0.5;
      transition: opacity 200ms ease-in-out;
      justify-self: center;
      grid-area: 2 / 1 / -1 / -1;
      width: 5em;
      
      svg {
        width: 100%;
        fill: transparent;
        stroke-width: 1.3;
        transition: transform 1.1s ease-out;

      }

      &:hover, &:active {
        opacity: 1;
        svg {
          transform: rotate(360deg);
          transition: transform 1.1s ease-out 400ms;

          #red {
            fill: #DB4437;
            stroke: #a7382d;
            transition: all 200ms ease-in-out 550ms;
          }
          #blue {
            fill: #4285F4;
            stroke: #2c5eaf;
            transition: all 200ms ease-in-out 750ms;
          }
          #green {
            fill: #0F9D58;
            stroke: #0a6d3d;
            transition: all 200ms ease-in-out 950ms;
          }
          #yellow {
            fill: #F4B400;
            stroke: #bb8a02;
            transition: all 200ms ease-in-out 1150ms;
          }
        }
        + #wind {
          .gust1 {
            animation: gust1 1s ease-in-out;
          }
          .gust2 {
            animation: gust2 1s ease-in-out;
          }
          .gust3 {
            animation: gust3 500ms ease-in-out 500ms;
          }
        }
      }

      @keyframes gust1 {
        0% {
          stroke-dashoffset: 18;
        }
        100% {
          stroke-dashoffset: -90;
        }
      }
      @keyframes gust2 {
        0% {
          stroke-dashoffset: 10;
        }
        100% {
          stroke-dashoffset: -33;
        }
      }
      @keyframes gust3 {
        0% {
          stroke-dashoffset: 10;
        }
        100% {
          stroke-dashoffset: -28;
        }
      }

      @keyframes shoot-arrow {
        0% {
          stroke-dashoffset: 0;
        }
        100% {
          stroke-dashoffset: -15;
        }
      }

      @keyframes reset-arrow {
        0% {
          stroke-dashoffset: 10;
        }
        100% {
          stroke-dashoffset: 0;
        }
      }

    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    span, > a {
      position: relative;
      font-size: 2em;
    }

    a {
      opacity: 0.5;
      transition: opacity 200ms ease-in-out;
      &:hover {
        opacity: 1;
      }
    }

    span a {
      position: relative;
      svg {
        position: absolute;
        right: calc(100% + 0.5em);
        bottom: 2px;
      }
    }

    svg {
      width: 1.5em;
      stroke-width: 2;
    }

    &__topic {
      font-weight: 600;
      margin-bottom: 0.1em;
      &:last-of-type {
        margin-top: 0.5em;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .contact {
    font-size: 9px;
  }
}

@media screen and (max-width: 590px) {
  .contact {
    font-size: 9px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

    &__info {
      justify-self: start;
      align-items: flex-start;
      a svg{
        right: auto;
        left: calc(100% + 0.5em);
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .contact {
    font-size: 2.4vw;
  }
}
