.details {
  position: relative;
  background-color: white;
  font-size: 10px;

  &__title {
    color: color(titles);
    opacity: 0.29;
    font-size: 10em;
  }

  &__contentwrapper {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    padding: 60px 30px;
  }

  &__date {
    position: relative;
    height: calc(100% - 200px);

    &__detes {
      position: sticky;
      top: 80px;
      display: grid;
      grid-template-rows: 1fr 1fr;

      &__basic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: color(primary);
        padding: 30px;
    
        h3 {
          margin: 0;
          white-space: pre;
          font-size: 3em;
          font-weight: 400;
          text-transform: uppercase;
          color: color(main_text);
        }
      }

      &__countdown {
        background-color: color(secondary);
        color: #9B9B9B;
        font-size: 3.3em;
        line-height: 1em;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 34px;
  
        > div {
          opacity: 0.22;
        }
      }
    }

    

    button {
      background: none;
      border: none;
      position: absolute;
      padding: 0;
      top: calc(100% + 100px);
      left: calc(50% - 5px);
      transform: translate(-50%, -50%);
      overflow: hidden;
      font-size: 0.7em;

      div.button_content {
        padding: 0.5vw 0.8vw;
        border: 3px solid color(main_text);
        color: color(main_text);
        font-size: 4em; font-weight: 400; font-family: Montserrat;
        text-transform: uppercase;
        padding: 4px 9px;
        display: flex;
        align-items: center;

        &:hover, &:focus {
          cursor: pointer;
          color: lighten(color(main_text), 15);
          border-color: lighten(color(main_text), 15);
        }

        &:hover svg .cls-1, &:focus svg .cls-1 {
          stroke: lighten(color(main_text), 15)
        }
        
        span {
          opacity: 1;
          transition: opacity 100ms ease-in-out;
        }

        div.calendar_icon {
          position: relative;
          margin-right: 1vw;
        }
  
        #date {
          position: absolute;
          left: 50%; top: 1em;
          font-size: 0.6em;
          font-weight: 500;
          transform: translate(-50%, 0);
        }
  
        svg {
          width: 1.2em; 
          height: 1.4em;
          padding: 0;
  
          .cls-1 {
            fill: none;
            stroke: #161925;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 4;
          }
        }
      }

      div.button_menu {
        height: 100%;
        width: 90%;
        position: absolute;
        top: 0; right: 0;
        overflow: hidden;
        display: none;
        justify-content: center;
        align-items: center;
        opacity: 0;

        a {
          margin: 0 1.8em;
          display: flex;
          align-items: center;
          
          &:hover svg, &:focus svg {
            fill: lighten(color(main_text), 15);
            cursor: pointer;
          }
          svg {
            width: 30px;
            height: 100%;
            fill: color(main_text);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .details {
    grid-template-columns: 43vw 1fr;
    grid-template-rows: 300vw * (33.48/300) 486px 486px;
  
    &__title{
      grid-area: 1 / 1 / 2 / -1;
      height: 150vw * (33.48/300);
      align-items: flex-start;
      flex-direction: row;
      span {
        margin-left: 5vw;
        font-size: 300vw * (33.48/300);
      }
    }
  
    &__date {
      grid-area: 3 / 1 / 4 / -1;
      height: 54px * (486/54);
      width: 43px * (486/54);
      padding-left: 4.2px * (486/54);
  
      &__number {
        font-size: 8.5px * (486/54);
        line-height: 8.5px * (486/54);
      }
  
      &__countdown {
        font-size: 6.5px * (486/54);
        margin-top: 1.5px * (486/54);
        div.month {
          margin: -1.5px * (486/54) 0;
        }
      }
    }
  
    &__detes {
      justify-self: end;
      grid-area: 2 / 1 / 3 / -1;
      width: 57px * (486/54);
      background-color: color(primary);
  
      > span {
        margin: 6px * (486/54) 0;

        h3:first-child > span:first-child {
          border-width: 2px;
        }
      }
  
      h3 {
        font-size: 3.5px * (486/54);
        > .br {
          margin: 0em;
        }
        .loc {
          font-size: 1.5px * (486/54);
          .br {
            margin: 0em;
          }
        }
      }
  
      svg {
        height: 8.5px * (486/54);
        padding: 0 1.2px * (486/54);
      }

      button {
  
        div.button_content {
          padding: 0.5px * (486/54) 0.8px * (486/54);
          border: 2px solid color(main_text);
          font-size: 2.3px * (486/54);
    
          div.calendar_icon {
            margin-right: 1px * (486/54);
          }
    
          #date {
            top: 1.5px * (486/54);
          }
    
          svg {
            width: 3.675px * (486/54); 
            height: 4.32px * (486/54);
          }
        }
  
        div.button_menu {
          a {
            svg {
              width: 3px * (486/54);
              fill: color(main_text);
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 514px) {
  .details {
    grid-template-columns: 100vw;
    grid-template-rows: 600vw * (33.48/300) 54vw * (44/25) 54vw * (44/25);
    
    &__title{
      grid-area: 1 / 1 / 2 / -1;
      height: 150vw * (33.48/300);
      align-items: flex-start;
      flex-direction: row;
      span {
        margin-left: 5vw;
        margin-top: 25vw;
        font-size: 300vw * (33.48/300);
      }
    }

    &__date {
      grid-area: 3 / 1 / 4 / -1;
      height: 54vw * (44/25);
      width: 43vw * (44/25);
      padding-left: 4.2vw * (44/25);
  
      &__number {
        font-size: 8.5vw * (44/25);
        line-height: 8.5vw * (44/25);
      }
  
      &__countdown {
        font-size: 6.5vw * (44/25);
        margin-top: 1.5vw * (44/25);
        div.month {
          margin: -1.5vw * (44/25) 0;
        }
      }
    }
  
    &__detes {
      justify-self: end;
      grid-area: 2 / 1 / 3 / -1;
      width: 57vw * (44/25);
      background-color: color(primary);
  
      > span {
        margin: 6vw * (44/25) 0;
      }
  
      h3 {
        font-size: 3.5vw * (44/25);
        .loc {
          font-size: 1.5vw * (44/25);
        }
      }
  
      svg {
        height: 8.5vw * (44/25);
        padding: 0 1.2vw * (44/25);
      }

      button {
  
        div.button_content {
          font-size: 2.3vw * (44/25);
          padding: 0.5vw * (44/25) 0.8vw * (44/25);
          border: 2px solid color(main_text);
    
          div.calendar_icon {
            margin-right: 1vw * (44/25);
          }
    
          #date {
            top: 1.5vw * (44/25);
          }
    
          svg {
            width: 3.675vw * (44/25); 
            height: 4.32vw * (44/25);
          }
        }
  
        div.button_menu {
          a {
            svg {
              width: 3vw * (44/25);
              fill: color(main_text);
            }
          }
        }
      }
  
      
    }
  }
}