.details {
  position: relative;
  font-size: 10px;

  &__title {
    color: color(titles);
    opacity: 0.29;
    font-size: 10em;
  }

  &__contentwrapper {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px;
    padding: 0 40px;
  }

  &__date {
    position: relative;
    height: calc(100% - 100px);
    display: grid;
    grid-template-rows: auto 1fr auto;

    &__detes {
      align-self: start;
      position: sticky;
      top: 90px;

      .content {
        position: relative;
        display: grid;
        grid-template-rows: auto auto;
      }

      #tab {
        display: none;
      }

      &__basic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: color(primary);
        color: color(main_text);
        padding: 3em;
    
        h3 {
          margin: 0;
          white-space: pre;
          font-size: 3em;
          font-weight: 400;
          text-transform: uppercase;
        }
      }

      &__countdown {
        background-color: color(secondary);
        color: white;
        font-size: 3em;
        line-height: 1em;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
  
        > div {
          opacity: 0.5;
        }
      }
    }

    button {
      align-self: flex-end;
      justify-self: center;
      transform: translateY(100px);
      background: none;
      border: none;
      padding: 0;
      overflow: hidden;
      font-size: 0.7em;

      div.button_content {
        padding: 0.5vw 0.8vw;
        border: 0.08em solid color(main_text);
        color: color(main_text);
        font-size: 4em; font-weight: 400; font-family: Montserrat;
        text-transform: uppercase;
        padding: 4px 9px;
        display: flex;
        align-items: center;

        &:hover, &:focus {
          cursor: pointer;
          color: lighten(color(main_text), 15);
          border-color: lighten(color(main_text), 15);
        }

        &:hover svg .cls-1, &:focus svg .cls-1 {
          stroke: lighten(color(main_text), 15)
        }
        
        span {
          white-space: nowrap;
          font-size: 0.9em;
          font-weight: 500;
          min-width: 7em;
          opacity: 1;
          transition: opacity 100ms ease-in-out;
        }

        div.calendar_icon {
          position: relative;
          margin-right: 0.6em;
        }
  
        #date {
          position: absolute;
          left: 50%; top: 1em;
          font-size: 0.6em;
          font-weight: 600;
          transform: translate(-50%, 0);
        }
  
        svg {
          width: 1.2em; 
          height: 1.4em;
          padding: 0;
  
          .cls-1 {
            fill: none;
            stroke: color(main_text);
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 4;
          }
        }
      }

      div.button_menu {
        height: 100%;
        width: 90%;
        position: absolute;
        top: 0; right: 0;
        overflow: hidden;
        display: none;
        justify-content: center;
        align-items: center;
        opacity: 0;

        a {
          margin: 0 1.8em;
          display: flex;
          align-items: center;
          
          &:hover svg, &:focus svg {
            fill: lighten(color(main_text), 15);
            cursor: pointer;
          }
          svg {
            width: 4em;
            height: 100%;
            fill: color(main_text);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1210px) {
  .details {
    font-size: 7px;
  }
}

@media screen and (min-width: 970px) {
  .details__date__detes {
    .content {
      left: 0 !important;
    }
  }
}

@media screen and (max-width: 970px) {

  .details {
     
    &__contentwrapper {
      grid-template-columns: auto 100%;
      justify-content: flex-end;
      gap: 5px;
    }

    &__title {
      position: absolute;
      right: 60px;
      z-index: 0;
      font-size: 8em;
    }

    &__date {
      position: unset;
      display: unset;
      height: 100%;

      &__detes {
        width: calc(200% - 35px);
        display: flex;
        justify-content: flex-start;
        z-index: 9;

        .content {
          grid-template-columns: auto 40px;
          left: 0;
          &:not(.ui-draggable-dragging) {
            transition: left 200ms ease-in-out;
          }
          &.over {
            left: 4px !important;
          }
        }

        &__basic {
          background-color: color(secondary);
          color: white;
          padding-bottom: 0.5em;
        }

        &__countdown {
          padding-top: 0.5;
        }

        #tab {
          grid-area: 1 / 2 / -1 / -1;
          cursor: pointer;
          align-self: center;
          display: block;
          height: 16em;
          width: 5.9em;
          margin-left: -0.2em;
          border-radius: 0 2em 2em 0;
          background-color: color(secondary);
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover, &:active {
            background-color: lighten(color(secondary), 3);
          }

          span {
            transform: rotate(-90deg);
            white-space: nowrap;
            font-size: 2.4em;
            color: white;
          }

          svg {
            height: 60%;
            stroke: white;
            stroke-width: 1px;
          }
        }
      }

      button {
        position: absolute;
        top: auto;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .details {
     
    &__contentwrapper {
      grid-template-columns: auto 100%;
      justify-content: flex-end;
      gap: 5px;
      padding: 0;
      padding-left: 20px;
    }

    &__title {
      right: 20px;
      font-size: 5em;
    }

    &__date {
      position: unset;
      height: 100%;
      margin-right: -20px;

      &__detes {
        width: calc(200% - 35px);
      }
    }
  }
}