.follow {
  margin-top: 60px;
  --grid: 240px;
  font-size: 10px;

  &__contentwrapper {
    padding: 0 40px;
  }

  &__feed {
    align-self: flex-start;
    position: relative;
    display: grid;
    grid-template-columns: minmax(15%, var(--grid)) repeat(5, var(--grid));
    grid-template-rows: repeat(3, var(--grid));

    &__prevw {
      grid-area: 1 / 2 / -1 / 4;
      align-self: center; justify-self: center;
      background-color: color(primary);
      position: relative;
      z-index: 9;
      box-shadow: 0 20px 40px rgba(0,0,0,0.3);
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 10px;
      width: 53em; height: 76em;


      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 3em;
        &__follow {
          color: color(back); 
          text-transform: capitalize;
        }
      }

      &__username {
        font-size: 1.8em;
        font-weight: 500;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: color(main_text);

        #Ellipse_6 {
          width: 2em; height: 2em;
          margin-right: 1em;
        }
      }

      &__img {
        margin: 1.5em 3em;
        width: 47em; height: 47em;

        img {
          width: 100%; height: 100%;

          object-fit: cover;
          &:hover, &:focus {
            opacity: 0.9;
          }
        }
      }

      .Icon_awesome-heart {
        width: 3em; height: auto;
        margin-left: 3em;
        margin-bottom: 1.5em;
        fill: none;
        stroke: color(main_text);
        stroke-width: 3;
        --red: rgb(218, 1, 1);
        cursor: pointer;
        &:hover {
          stroke: var(--red);
        }
      }

      #liked {
        animation: liked 400ms ease-in-out;
        fill: var(--red);
        stroke: var(--red);
      }

      @keyframes liked {
        0% {
          transform: scale(0.8);
        }
        40% {
          transform: scale(1.1);
        }
        80% {
          transform: scale(0.95);
        }
        100% {
          transform: scale(1);
        }
      }

      p {
        margin: 0 1.67em;
        margin-bottom: 1em;
        font-size: 1.8em;
        font-weight: 300;
        line-height: 1.2em;
        
        span {
          font-weight: 500;
        }

        a {
          font-weight: 500;
          text-decoration: none;
          color: color(main_text);
        }
      }
    }

    .rotate_img {
      rotate: 90deg;
    }

    .collage1, .collage2 {
      position: absolute;
      height: 100%;
      filter: brightness(60%)
    }

    .collage1 {
      position: absolute;
      z-index: 7;
      left: 0;
      height: 100%;
    }

    .collage2 {
      position: absolute;
      z-index: 6;
      right: 0;
      object-fit: cover;
      object-position: 99%;
      max-width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 832px) {
  .follow {
    &__feed {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}


@media screen and (max-width: 777px) {
  .follow {
    margin-top: 40px;
    
    &__contentwrapper {
      padding: 0;
    }

    &__feed {
      --grid: 200px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 20vw auto;


      .collage1 {
        display: none;
      }

      .collage2 {
        height: auto;
        width: 100%;
      }

      &__prevw {
        grid-area: 2 / 2 / -1 / 4;
        align-self: flex-start;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .follow {
    margin-top: 20px;
    &__feed__prevw {
      margin: 0 20px;
    }
  }
}

@media screen and (max-width: 614px) {
  .follow__feed__prevw {
    font-size: 9px;
  }
}

@media screen and (max-width: 519px) {
  .follow {

    &__feed {
      grid-template-columns: repeat(4, 1fr);

      .collage2 {
        height: auto;
        width: 100%;
      }

      &__prevw {
        // font-size: 1.8vw;
        height: auto;
        width: 95vw;
        padding: 20px 0;
        > * {
          margin-left: 20px;
          margin-right: 20px;
        }
        &__img {
          width: auto;
          height: 83.6vw;
        }
      }
    }
  }
}
