.home {
  background-color: color(primary);
  font-size: 10px;

  &__contentwrapper {
    display: grid;
    padding: 4em;
    padding-top: 0;
    grid-template-columns: auto auto;
    grid-template-rows: 420px auto;
  }

  &__img {
    grid-area: 1 / 1 / -1 / 2;
    max-width: 610px;
    width: 45.5vw;
    height: 720px;
    position: relative;
    overflow: hidden;
    img {
      position: relative;
      top: -10%;
      left: 50%;
      height: 100%;
      transform: translateX(-52%) scale(1.3);
    }
  }

  &__names {
    grid-column: 2;
    align-self: center;
    p {
      margin: 0;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-size: 9em;
      color: color(secondary);
    }

    &-plus {
      margin: -15px 0;
    }

    &__icons {
      display: flex;
      justify-content: flex-end;
      margin-right: 0.5em;
      margin-top: 1.3em;

      a:hover svg, a:focus svg {
        .cls-2 {
          stroke: darken(#a3a3a3, $amount: 15)
        }
        .cls-4 {
          fill: darken(#a3a3a3, $amount: 15)
        }
      }

      #icon_feather-instagram {
        width: 53.784px * 0.75;
        height: 53.784px * 0.75;
      }

      #icon_feather-mail {
        margin-left: 1em;
        width: 67.199px * 0.75; 
        height: 53.759px * 0.75;
      }

      .cls-1, .cls-2 {
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
  
      .cls-2 {
        stroke: #a3a3a3;
        stroke-width: 5px;
      }
  
      .cls-3, .cls-4 {
        stroke: none;
      }
  
      .cls-4 {
        fill: #a3a3a3;
      }
    }
  }

  &__action {
    grid-area: 2 / 1 / -1 / -1;
    justify-self: end;
    background-color: color(secondary);
    width: 920px;
    height: 230px;
    position: relative;
    display: grid;
    grid-template-columns: auto 250px;

    &__sendyourlove {
      display: flex;
      align-items: center; 
      justify-content: flex-start;
      
      > span {
        padding: 0 40px;
        font-size: 5.5em; font-weight: 300;
        line-height: 0.9em;
        color: white;
        text-align: left;
        text-transform: uppercase;
        > span {
          position: relative;
          right: 0.1em;
          font-size: 0.7em;
          opacity: 0.6;
        }
      }
    }

    &__img {
      height: 230px; width: 250px;
      opacity: 0.4;
      overflow: hidden;
      img {
        position: relative;
        top: -40px;
        left: -46px;
        width: 353px; 
        height: auto;
      }
    }

    svg {
      position: absolute;
      z-index: 99;
      top: 110%;
      right: 30%;
      width: 60px;
      fill: none;
      stroke: color(titles);
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}

@media screen and (max-width: 1349px) {
  .home {
    &__names {
      font-size: 0.8vw;
    }
    &__action {
      width: 850px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .home {

    &__contentwrapper {
      grid-template-columns: auto;
      grid-template-rows: 470px 370px;
      position: relative;
      font-size: 10px;
    }

    &__img {
      position: relative;
      top: -50px;
      width: 700px;
      height: 700px;
      object-fit: cover;
    }

    &__names, &__action {
      padding: 30px;
      width: 550px;
      height: auto;
      background-color: color(secondary);
      justify-self: end;
      grid-area: 2 / 1 / -1 / -1;
      position: relative;
    }

    &__names {
      align-self: flex-start;
      font-size: 7px;
      padding-bottom: 0;

      p {
        color: white;
        align-items: flex-start;
      }
      &-plus {
        margin: -10px * 1.13 0;
      }
  
      &__icons {
        position: absolute;
        top: 30px; right: 50px * 1.13;
        justify-content: flex-end;
        margin-top: 28px;
        margin-right: 0;
        #icon_feather-instagram {
          width: 30px * 1.5;
          height: auto;
        }
  
        #icon_feather-mail {
          margin-left: 8px * 1.13;
          width: 37px * 1.5;
          height: auto;
        }
      }
    }
  
    &__action {
      align-self: flex-end;
      grid-template-columns: auto;
      padding-top: 5em;

      span {
        padding: 0;
        opacity: 0.6;
        font-size: 3em;
        line-height: 1.1em;
        > span {
          opacity: 1;
          font-size: 1em;
        }
      }
  
      &__img {
        display: none;
        width: 0;
      }
      
      svg {
        color: white;
        opacity: 0.6;
        top: unset;
        bottom: 30px;
        right: 30px;
        width: 40px;
        stroke-width: 1.5;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .home {

    &__contentwrapper {
      grid-template-rows: 86vw 370px;
      padding: 0;
      padding-bottom: 40px;
    }

    &__img {
      width: 80vw;
      height: 120vw;
      top: 0;
    }

    &__names, &__action {
      width: 70vw;
    }

  }
}

@media screen and (max-width: 690px) {
  .home {

    &__contentwrapper {
      padding-bottom: 20px;
    }

  }
}

@media screen and (max-width: 600px) {
  .home {

    &__contentwrapper {
      grid-template-rows: 86vw 290px;
    }

    &__img {
      width: 75vw;
      height: 115vw;
      top: 0;
    }

    &__names, &__action {
      width: 70vw;
    }

    &__names {
      font-size: 5.5px;
    }
    &__action {
      font-size: 7px;
      svg {
        width: 30px;
      }
    }

  }
}

@media screen and (max-width: 450px) {
  .home {

    &__contentwrapper {
      grid-template-rows: 100vw 60vw;
    }

    &__img {
      width: 92.68vw;
      height: 140vw;
      top: 0;
      object-fit: initial;
    }

    &__names, &__action {
      padding: 6.5vw;
      width: 80vw;
    }

    &__names {

      p {
        font-size: 9vw;
        align-items: start;
      }
      &-plus {
        margin: -10vw * (15/110) * 1.19 0;
      }
  
      &__icons {
        justify-content: flex-start;
        position: relative;
        top: 0; right: 0;
        display: flex;
        margin-left: 7vw;
        #icon_feather-instagram {
          width: 50vw * (15/110) * 1.19;
          height: 50vw * (15/110) * 1.19;
        }
  
        #icon_feather-mail {
          margin-left: 8vw * (15/110) * 1.19;
          width: 62.5vw * (15/110) * 1.19;
          height: 50vw * (15/110) * 1.19;
        }
      }
    }
  
    &__action {
      font-size: 2vw;
      padding-top: 0;
      
      svg {
        bottom: 6.5vw; right: 6.5vw;
        width: 8vw
      }
    }
  }
}