.schedule {
  
  &__timeline {
    font-size: 10px;
    background-color: color(primary);
    color: color(main_text);
    width: auto;

    --pd: 6em;
    --pdt: 12em;
    --pdb: 12em;
    padding: var(--pdt) var(--pd) var(--pdb) var(--pd);
    position: relative;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    text-transform: uppercase;

    #schedule_line {
      position: absolute;
      left: 50%;
      top: var(--pd);
      transform: translateX(-50%);
      width: 0.35em;
      height: calc(100% - var(--pdb));
      background-color: color(main_text);

      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translate(-50%, 50%);
        border-radius: 50%;
        height: 0.8em; width: 0.8em;
        background-color: color(main_text);
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        height: 0.8em; width: 0.8em;
        background-color: color(main_text);
      }
    }

    &__entry__line {
      height: 0.5em;
      margin: 1.3em 0;
      display: flex;
      align-items: center;
      span {
        font-size: 3em;
        display: none;
      }
    }

    &__entry__title {
      font-size: 3em;
      padding: 0 1em;
    }

    &__entry__desc {
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
      line-height: 1.7em;
      padding: 0 2em;
      span {
        font-weight: 600;
      }
      span:first-child {
        font-weight: 300;
      }
    }

    &__wii {
      font-size: 1.5em;
      position: absolute;
      text-transform: capitalize;
      bottom: 3em; right: 3em;
    }

    > [class *= "we"]{
      position: relative;
      display: flex;
      flex-direction: column;

      svg {
        width: 20em;
        margin-left: 1.5em;
        stroke: color(main_text);
        line {
          stroke-width: 0.1444em;
        }
      }

      &:nth-of-type(2n + 1) {
        text-align: right;
        align-items: flex-end;
      }
      &:nth-of-type(2n + 2) {
        text-align: left;
        align-items: flex-start;

        .schedule__timeline__entry__title {
          padding: 0 0.9em;
        }

        svg { 
          transform: rotate(180deg); 
          margin-left: 0;
          margin-right: 1.5em;
        }
      }
    }
    
    > svg {
      position: relative;
      align-self: start;
      padding: 0 3em;
      top: 1.8em;

      &:nth-of-type(2n + 1) {
        justify-self: start;
        transform-origin: top left;
      }
      &:nth-of-type(2n + 2) {
        justify-self: end;
        transform-origin: top right;
      }
    }

    #schedule_rings {
      stroke: color(main_text);
      fill: none;
      width: 9em;
      stroke-width: 1.2;
    }

    #schedule_champagne {
      width: 5.5em; 
      transform: scale(1.2);
    }

    #schedule_tray {
      width: 9em;
      transform: scale(1.2);
    }

    #schedule_disco {
      width: 12em;
      transform: scale(0.9);
    }
  }
}

@media screen and (max-width: 1210px) {
  .schedule__timeline {
    font-size: 8px;
  }
}

@media screen and (max-width: 970px) {
  .schedule__timeline {
    z-index: -1;
    --pdb: 200px;
  }
}

@media screen and (max-width: 690px) {
  .schedule__timeline {
    --pd: 5vw;
    font-size: 1.3vw;
    z-index: -1;
    --pdb: 200px;

    > [class *= "we"]{
      svg {
        line {
          stroke-width: 0.2vw;
        }
      }
    }

    #schedule_line {
      width: 0.4vw;

      &::after, &::before {
        height: 0.8vw; width: 0.8vw;
      }
    }
    
    &__wii {
      display: none;
    }
  }
}

@media screen and (max-width: 400px) {

  .schedule__timeline {
    font-size: 1.7vw;
    
  }

}

@media screen and (max-width: 380px) {
  .schedule__timeline {
    font-size: 1.7vw;
  }
}

