.schedule {
  
  &__timeline {
    font-size: 10px;
    background-color: color(primary);
    width: auto;

    --pd: 6em;
    --pdt: 12em;
    --pdb: 12em;
    padding: var(--pdt) var(--pd) var(--pdb) var(--pd);
    position: relative;
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 1fr;
    row-gap: 100px;
    text-transform: uppercase;

    #schedule_line {
      position: absolute;
      left: 50%;
      top: var(--pd);
      transform: translateX(-50%);
      width: 0.4em;
      height: calc(100% - var(--pdb));
      background-color: color(main_text);

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-43%, -50%);
        border-radius: 50%;
        height: 1em; width: 1em;
        background-color: color(main_text);
      }
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translate(-43%, 50%);
        border-radius: 50%;
        height: 1em; width: 1em;
        background-color: color(main_text);
      }
    }

    &__entry__line {
      display: flex;
      span {
        font-size: 3em;
      }
    }

    &__entry__title {
      font-size: 3em;
      padding: 0 1em;
      margin-bottom: 0.33em;
    }

    &__entry__desc {
      display: flex;
      flex-direction: column;
      font-size: 1.5em;
      line-height: 1.7em;
      margin-top: 0.6em;
      padding: 0 2em;
      span {
        font-weight: 600;
      }
      span:first-child {
        font-weight: 300;
      }
    }

    &__wii {
      font-size: 1.5em;
      position: absolute;
      text-transform: capitalize;
      bottom: 3em; right: 3em;
    }

    > [class *= "we"]{
      position: relative;
      display: flex;
      flex-direction: column;

      svg {
        width: 24em;
        margin-left: 1.5em;
        line {
          stroke-width: 0.13em;
        }
      }

      &:nth-of-type(2n+1) {
        text-align: right;
        align-items: flex-end;
      }
      &:nth-of-type(2n + 2) {
        text-align: left;
        align-items: flex-start;

        svg { 
          transform: rotate(180deg); 
          margin-left: 0;
          margin-right: 1.5em;
        }
      }
    }
    
    > svg {
      position: relative;
      align-self: start;
      padding: 0 3em;
      top: 1.8em;

      &:nth-of-type(2n + 1) {
        justify-self: start;
        transform-origin: top left;
      }
      &:nth-of-type(2n + 2) {
        justify-self: end;
        transform-origin: top right;
      }
    }

    #schedule_cross {
      width: 9em;
      transform: scale(0.9);
    }

    #schedule_champagne {
      width: 5.5em; 
      transform: scale(1.2);
    }

    #schedule_tray {
      width: 9em;
      transform: scale(1.2);
    }

    #schedule_disco {
      width: 12em;
      transform: scale(0.9);
    }
  }
}

@media screen and (max-width: 690px) {
  .schedule__timeline {
    --pd: 5vw;
    font-size: 1.6vw;

    > [class *= "we"]{
      svg {
        width: 28vw;
        line {
          stroke-width: 1.3px;
        }
      }
    }

    #schedule_line {
      width: 3px;

      &::after, &::before {
        height: 7px; width: 7px;
      }
    }
  }
}

