@import '_colors.scss';

button {
  outline: 0;
}

img {
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: color(back);
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  font-family: Montserrat;
}

.dummy {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  margin: 3vh 0;
  grid-area: 1 / 1 / 2 / 2;
  align-self: start;
  display: grid;
  justify-items: center;
  h2 {
    color: color(main_text);
    font-weight: 300;
    text-transform: uppercase;
  }
  svg {
    width: 50px; height: 50px;
    path {
      stroke: color(main_text);
      stroke-width: 2;
      fill: none;
      stroke-linecap: round; stroke-linejoin: round;
    }
  }
}

@media (max-height: 670px) {

  .dummy {
    margin: 2vh 0;
  }
  
  .dummy h2 {
    font-size: 3vh;
  }

  .dummy svg {
    width: 6vh; height: 6vh;
  }
}

@media (max-height: 575px) {
  .dummy svg {
    width: 0; height: 0;
  }
}

.animationEnvelope {
  grid-area: 1 / 1 / 2 / 2;
  width: 600px; height: 340px;
  position: relative;

  &__flap {
    width: 600px; 
    position: absolute;
    top: -300px;
    z-index: 1;

    &__path {
      fill: color(flap);
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__body {
    width: 600px; height: 340px;
    background-color: color(primary);
    position: relative;
    z-index: 0;
  }
}

.envelope {
  grid-area: 1 / 1 / 2 / 2;
  width: 550px; height: 290px;
  background-color: color(primary);
  z-index: -1;
  overflow: hidden;

  &__content {
    overflow: hidden;
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    background-color: color(primary);
    z-index: -1;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    display: flex;
    align-items: center; justify-content: center;

    a {
      width: 90%; height: 90%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
}

@media (orientation: portrait) {
  .envelope__content {
    a {
      height: 100%;
      width: 100%;
    }
  }
}

@media (max-width: 770px) {

  .animationEnvelope {
    width: 70vw; height: 40vw;

    &__flap {
      width: 70vw; 
      top: calc(-35vw - 1px);
    }

    &__body {
      width: 70vw; height: 40vw;
    }
  }

  .envelope {
    width: 70vw; height: 40vw;
  }
}
