$colors: (
  primary: #FCF6ED,
  secondary: #303755,
  flap: #161925,
  main_text: #242A40,
  header: #383838,
  back: #E37575,
  icon: #A3A3A3,
  titles: #DDD8D1
);

@function color($color_name) {
  @return map-get($colors, $color_name)
};

button {
  outline: 0;
}

img {
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: color(back);
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  font-family: Montserrat;
}

.dummy {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  margin: 3vh 0;
  grid-area: 1 / 1 / 2 / 2;
  align-self: start;
  display: grid;
  justify-items: center;
  h2 {
    font-weight: 300;
  }
  svg {
    width: 50px; height: 50px;
    path {
      stroke: color(flap);
      stroke-width: 2;
      fill: none;
      stroke-linecap: round; stroke-linejoin: round;
    }
  }
}

@media (max-height: 670px) {

  .dummy {
    margin: 2vh 0;
  }
  
  .dummy h2 {
    font-size: 3vh;
  }

  .dummy svg {
    width: 6vh; height: 6vh;
  }
}

@media (max-height: 575px) {
  .dummy svg {
    width: 0; height: 0;
  }
}

.animationEnvelope {
  grid-area: 1 / 1 / 2 / 2;
  width: 600px; height: 340px;
  position: relative;

  &__flap {
    width: 600px; 
    position: absolute;
    top: -233.5px;
    z-index: 1;

    &__path {
      fill: color(flap);
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__body {
    width: 600px; height: 340px;
    background-color: color(primary);
    position: relative;
    z-index: 0;
  }
}

.envelope {
  grid-area: 1 / 1 / 2 / 2;
  width: 550px; height: 290px;
  // width: 100vw; height: 100vh;
  background-color: color(primary);
  z-index: -1;
  overflow: hidden;

  &__content {
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
    display: grid;
    background-color: color(primary);
    z-index: -1;
    opacity: 0;
    // opacity: 1;

    * {
      transition: all 500ms ease-in-out;
    }

    &__circle {
      align-self: center; justify-self: center;
      position: relative;
      height: 80vmin; width: 80vmin;
      border-radius: 50%;
      background-color: color(primary);
      display: grid;

      &__img1, &__img2, &__img3, &__img4 {
        align-self: center; justify-self: center;
        position: relative;
        z-index: -1;
        width: 55vmin;
        grid-area: 1 / 1 / 2 / 2;
        img {
          width: 100%;
          height: 100%;
        }
      }
  
      &__img1 {
        top: -20vmin; left: -61vmin;
      }
  
      &__img2 {
        top: -33vmin; left: 20vmin;
        width: 100vmin;
      }
  
      &__img3 {
        top: -1vmin; left: 37vmin;
        transform: rotate(160deg);
      }
  
      &__img4 {
        top: 26vmin; left: -39vmin;
        width: 100vmin;
      }

      &__text {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        * {
          font-weight: 300;
          white-space: pre-wrap;
          text-align: center;
          color: color(main_text);
        }

        h1 {
          font-size: 6vmin;
          margin: 1vmin 0;
          white-space: initial;

          &.wedding {
            font-size: 8vmin;
          }

          &.names {
            margin-bottom: 2vmin;
          }
        }

        h2 {
          font-size: 2.5vmin;
          margin: 0;
        }

        div {
          white-space: initial;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          h3 {
            font-size: 1.8vmin;
            font-weight: 400;
            position: relative;
          }

          h3::before {
            content: "AUGUST 14\A 2021";
            display: block;
            position: absolute;
            right: 100%; top: 0;
            width: 10vmin;
            margin-right: 3.5vmin;
          }
          h3::after {
            content: "RECEPTION\A 5:00PM";
            display: block;
            position: absolute;
            left: 100%; top: 0;
            width: 11vmin;
            margin-left: 3.5vmin;
          }
          h3.no_party::after {
            content: "TOAST\A 5:00PM";
            display: block;
            position: absolute;
            left: 100%; top: 0;
            width: 7vmin;
            margin-left: 3.5vmin;
          }

          svg {
            height: 5vmin;
            stroke: black;
            stroke-width: 1;
            margin: 0 1.5vmin;
          }
        }

        label {
          margin: 0;
          padding: 0;
          white-space: nowrap;
          position: absolute;
          bottom: 13vmin;
          font-size: 1.8vmin;
          font-weight: 400;
          padding: 1vmin;
          border: 1px solid color(main_text);
          transition: initial;
          background: none;

          &:hover {
            cursor: pointer;
            font-weight: bold;
            border-width: 2px;
          }
        }

        a {
          text-decoration: none;
          position: absolute;
          bottom: 13vmin;
          font-family: Montserrat;
          white-space: nowrap;
          font-size: 1.8vmin;
          font-weight: 400;
          padding: 1vmin;
          border: 1px solid color(main_text);
          transition: initial;
          background: none;

          &:hover {
            cursor: pointer;
            font-weight: bold;
            border-width: 2px;
          }
        }
      }
    }
  }
}

@media (max-width: 770px) {

  .animationEnvelope {
    width: 70vw; height: 40vw;

    &__flap {
      width: 70vw; 
      top: -27.2vw;
    }

    &__body {
      width: 70vw; height: 40vw;
    }
  }

  .envelope {
    width: 70vw; height: 40vw;
  }
}

@media (max-width: 530px) and (min-height: 667px) {

  .envelope__content {

    &__circle {
      background-color: initial;

      &__img1 {
        opacity: 0;
      }

      &__img2 {
        opacity: 0;
      }

      &__img3 {
        width: 100vmin;
        top: 28vmin; left: -24vmin;
        transform: rotate(30deg);
      } 

      &__img4 {
        top: -145vmin; left: -100vmin;
        width: 200vmin;
        // top: -73vh; left: -97vw;
        transform: rotate(110deg);
      }

      &__text {
        h1 {
          font-size: 13vmin;
          white-space: pre-wrap;
          margin: 5vmin 0;

          &.wedding {
            font-size: 14vmin;
            margin-bottom: 3vmin;
          }
          &.names {
            line-height: 13vmin;
            margin-bottom: 10vmin;
          }
        }
        h2 {
          font-size: 5vmin;
        }

        div {
          margin-top: 1px;
          margin-bottom: 2vmin;
          h3 {
            font-size: 3vmin;
            margin: 0;
          }
          h3::before {
            width: 17vmin;
          }
          h3::after {
            width: 25vmin;
          }
          h3.no_party::after {
            width: 18vmin;
          }
          svg {
            height: 9vmin
          }
        }

        label {
          font-size: 3vmin;
          bottom: -30vmin;
        }

        a {
          bottom: -30vmin;
          font-size: 4vmin;
          font-weight: 300;
          &:hover, &:focus {
            font-weight: 400;
          }
        }
      }
      

    }

  }

}

body > input {
  display: none;
  &:checked ~ .player_shadow{
    display: flex;
  }
}

.player_shadow{  
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  z-index: 9998;
  display: none;
  align-items: center; justify-content: center;
  background-color: rgba(0,0,0,0.4);

  input#rsvp_checkbox {
    display: none;

    &:checked ~ .player {
      grid-template-rows: initial;
      grid-template-columns: auto auto;
    }
    &:checked ~ .player .player__rsvp {
      width: auto;
    }
    &:checked ~ .player .player__content label {
      svg {
        transform: rotate(90deg);
      }
      span::after {
        content: 'back';
      }
    }
  }

  .player {
    z-index: 9999;
    display: grid;
    grid-template-columns: auto 0;

    &__content {
      background-color: color(primary);
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: repeat(2, auto) 75px;
      grid-template-areas:  'names names'
                            'video video'
                            'calender next';
      align-items: center;
      padding: 30px;

      > span {
        grid-area: names;
        align-self: flex-start;
        font-size: 30px;
        color: #9B9B9B;
        text-transform: uppercase;
      }
  
      iframe {
        grid-area: video;
        width: 560px; height: 315px;
        margin: 30px 0;
      }

      button {
        grid-area: calender;
        align-self: center;
        justify-self: flex-start;
        background: none;
        border: none;

        div.button_content {
          color: color(secondary);
          font-size: 25px; font-size: 400; font-family: Montserrat;
          text-transform: uppercase;
          padding: 0 9px;
          display: flex;
          align-items: center;

          &:hover, &:focus {
            cursor: pointer;
            color: lighten(color(secondary), 15)
          }

          &:hover svg .cls-1, &:focus svg .cls-1 {
            stroke: lighten(color(secondary), 15)
          }
    
          div.calendar_icon {
            position: relative;
            margin-right: 9px;
          }
    
          #date_form {
            position: absolute;
            left: 50%; top: 17px;
            transform: translate(-50%, 0);
          }
    
          svg {
            width: 40px; 
            height: auto;
            padding: 0;
    
            .cls-1 {
              fill: none;
              stroke: color(secondary);
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-width: 3.5;
            }
          }
        }

        div.button_menu {
          height: 0;
          overflow: hidden;
          display: flex;
          justify-content: space-around;
          align-items: center;
          a {
            display: none;
            align-items: center;
            opacity: 0;
            &:hover svg, &:focus svg {
              fill: lighten(color(secondary), 15);
              cursor: pointer;
            }
            svg {
              width: 30px;
              fill: color(secondary);
            }
          }
        }
      }
  
      #rsvp {
        grid-area: next;
        align-self: center;
        justify-self: flex-end;
        text-decoration: none;
        color: color(secondary);
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 400;
        padding: 3px 5px;
        cursor: pointer;
        display: flex;
        align-items: center;

        span::after {
          content: 'next';
        }

        svg {
          margin-left: 10px;
          width: 21px; height: 21px;
          transform: rotate(-90deg);
          path {
            stroke: color(secondary);
            stroke-width: 9;
          }
        }
      }
    }

    &__rsvp {
      width: 0;
      height: auto;
      overflow: hidden;
      background-color: color(secondary);
      display: flex;
      flex-direction: column;
      
      form {
        display: flex;
        flex-direction: column;
        padding: 30px;

        span {
          margin-bottom: 30px;
          font-size: 23px;
          width: 380px;
          height: 56px;
          overflow: hidden;
          text-transform: uppercase;
          text-align: center;
          color: white;
        }

        input {
          padding: 10px 16px;
          margin-bottom: 20px;
          font-size: 15px;
          background-color: lighten(color(secondary), 3);
          border: none;
          color: white;

          &:hover, &:focus {
            background-color: lighten(color(secondary), 15);
          }
        }

        input#rsvp_submit {
          height: 0;
          padding: 0;
          margin: 0;
          &:focus + label #submit_main {
            background-color: darken(color(back), 5);
          }
        }

        label {
          align-self: flex-start;
          padding: 10px 16px;
          margin-bottom: 0;
          font-size: 15px;
          text-transform: uppercase;
          color: white;
          background-color: color(back);

          &:hover {
            background-color: lighten(color(back), 5);
            cursor: pointer;
          }

          svg {
            margin-left: 10px;
            width: 10px;
            path {
              stroke: white;
              stroke-width: 10;
            }
          }

        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .player_shadow{ 

    input#rsvp_checkbox {
      display: none;

      &:checked ~ .player {
        grid-template-rows: auto auto;
        grid-template-columns: initial;
      }
      &:checked ~ .player .player__rsvp {
        height: auto;
      }
      &:checked ~ .player .player__content label {
        svg {
          transform: rotate(180deg);
        }
        span::after {
          content: 'back';
        }
      }
    }
  
    .player {
      grid-template-columns: initial;
      grid-template-rows: auto 0;
  
      &__content {
        padding: 30px * 0.9;
        grid-template-rows: repeat(2, auto) 75px * 0.9;
  
        > span {
          font-size: 30px * 0.9;
        }
    
        iframe {
          width: 560px * 0.9; height: 315px * 0.9;
          margin: 30px * 0.9 0;
        }

        button {
  
          div.button_content {
            font-size: 25px * 0.9;
            padding: 4px * 0.9 9px * 0.9;
      
            div.calendar_icon {
              margin-right: 9px * 0.9;
            }
      
            #date_form {
              left: 50%; top: 17px * 0.9;
            }
      
            svg {
              width: 40px * 0.9; 
            }
          }
  
          div.button_menu {
            a {
              svg {
                width: 30px * 0.9;
              }
            }
          }
        }
    
        #rsvp {
          font-size: 25px * 0.9;
          padding: 3px * 0.9 5px * 0.9;
          svg {
            margin-left: 10px * 0.9;
            width: 21px * 0.9; height: 21px * 0.9;
            transform: rotate(0deg);
          }
        }
      }
  
      &__rsvp {
        width: auto;
        height: 0;
        
        form {
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: repeat(6, auto);
          grid-template-areas:  'title title'
                                'name email'
                                'phone address'
                                'submit .';
          gap: 20px;
          padding: 30px * 0.9;
  
          span {
            grid-area: title;
            margin-bottom: 5px;
            font-size: 23px;
            text-align: left;
            width: auto;
            height: auto;
          }

          #rsvp_name {grid-area: name;}
          #rsvp_email {grid-area: email;}
          #rsvp_phone {grid-area: phone;}
          #rsvp_address {grid-area: address;}
  
          input {
            padding: 10px * 0.9 16px * 0.9;
            margin-bottom: 0;
            font-size: 15px * 0.9;
          }
  
          input#rsvp_submit {
            height: 0;
            padding: 0;
            margin: 0;
          }
  
          label {
            grid-area: submit;
            padding: 10px * 0.9 16px * 0.9;
            font-size: 15px * 0.9;

            svg {
              margin-left: 10px * 0.9;
              width: 10px * 0.9;
            }
  
          }
        }
      }
    }
  }
}

@media screen and (max-width: 631px) {
  .player_shadow{ 
  
    .player {
      &__content {
        padding: 30vw * (4.78/30) * 0.9;
        grid-template-rows: repeat(2, auto) 75vw * (4.78/30) * 0.9;
  
        > span {
          font-size: 30vw * (4.78/30) * 0.9;
        }
    
        iframe {
          width: 560vw * (4.78/30) * 0.9; height: 315vw * (4.78/30) * 0.9;
          margin: 30vw * (4.78/30) * 0.9 0;
        }

        button {
  
          div.button_content {
            font-size: 25vw * (4.78/30) * 0.9;
            padding: 4vw * (4.78/30) * 0.9 9vw * (4.78/30) * 0.9;
      
            div.calendar_icon {
              margin-right: 9vw * (4.78/30) * 0.9;
            }
      
            #date_form {
              left: 50%; top: 17vw * (4.78/30) * 0.9;
            }
      
            svg {
              width: 40vw * (4.78/30) * 0.9; 
            }
          }
  
          div.button_menu {
            a {
              svg {
                width: 30vw * (4.78/30) * 0.9 * 0.9;
              }
            }
          }
        }
    
        #rsvp {
          font-size: 25vw * (4.78/30) * 0.9;
          padding: 3vw * (4.78/30) * 0.9 5vw * (4.78/30) * 0.9;
          svg {
            margin-left: 10vw * (4.78/30) * 0.9;
            width: 21vw * (4.78/30) * 0.9; height: 21vw * (4.78/30) * 0.9;
          }
        }
      }
  
      &__rsvp {
        
        form {
          gap: 20vw * (4.78/30);
          padding: 30vw * (4.78/30) * 0.9;
  
          span {
            margin-bottom: 5vw * (4.78/30);
            font-size: 23vw * (4.78/30);
          }
          input {
            padding: 10vw * (4.78/30) * 0.9 16vw * (4.78/30) * 0.9;
            font-size: 15vw * (4.78/30) * 0.9;
          }
  
          label {
            padding: 10vw * (4.78/30) * 0.9 16vw * (4.78/30) * 0.9;
            font-size: 15vw * (4.78/30) * 0.9;

            svg {
              margin-left: 10vw * (4.78/30) * 0.9;
              width: 10vw * (4.78/30) * 0.9;
            }
  
          }
        }
      }
    }
  }
}

@media screen and (max-width: 530px) {
  .player_shadow{ 
  
    .player {
  
      &__rsvp {
        
        form {
          grid-template-columns: auto;
          grid-template-rows: repeat(6, auto);
          grid-template-areas:  'title'
                                'name'
                                'email'
                                'phone'
                                'address'
                                'submit';
          gap: 20vw * (4.78/30);
          padding: 30vw * (4.78/30) * 0.9;
  
          span {
            margin-bottom: 5vw * (4.78/30);
            font-size: 23vw * (4.78/30);
          }

          input {
            padding: 10vw * (4.78/30) * 1.3 16vw * (4.78/30) * 1.3;
            font-size: 15vw * (4.78/30) * 1.3;
          }
  
          label {
            width: 18vw;
            padding: 10vw * (4.78/30) * 1.3 16vw * (4.78/30) * 1.3;
            font-size: 15vw * (4.78/30) * 1.3;

            svg {
              margin-left: 10vw * (4.78/30) * 1.3;
              width: 10vw * (4.78/30) * 1.3;
            }
  
          }
        }
      }
    }
  }
}