button {
  outline: 0;
  background-color: white;
}

body {
  width: 100vw;
  margin: 0;
  font-family: Montserrat;
  position: relative;
  overflow-x: hidden;
}

main {
  position: relative;
  overflow: visible;
}

main [class$="contentwrapper"] {
  margin: 0 auto 40px;
  max-width: 1380px;
}

@media screen and (max-width: 690px) {
  main [class$="contentwrapper"] {
    margin: 0 auto 20px;
  }
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #FCF6ED;
  padding: 0.8em 0;
}

header span {
  display: none;
}

header > a {
  display: none;
}

header nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
}

header nav li {
  margin-left: 1.4em;
}

header nav li a {
  text-align: center;
  text-decoration: none;
  color: #383838;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0.28px;
}

header nav li a:hover {
  font-weight: 400;
  letter-spacing: 0;
}

header nav li a#link_travel_accommodations:hover {
  letter-spacing: 0.05px;
}

header #nav {
  display: none;
}

@media screen and (max-width: 900px) {
  header {
    padding: 20px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header #nav_names {
    text-decoration: none;
    display: initial;
    font-size: 20px;
    color: #9B9B9B;
    text-transform: uppercase;
    margin-left: 30px;
  }
  header #nav_names:hover, header #nav_names:focus {
    cursor: pointer;
    color: #141c42;
  }
  header nav {
    display: none;
  }
  header #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
    width: 25px;
  }
  header #nav:hover, header #nav:focus {
    cursor: pointer;
  }
  header #nav:hover path, header #nav:focus path {
    stroke: #141c42;
  }
  header #nav svg {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 20px 0;
  }
  header #nav_names {
    margin-left: 20px;
    font-size: 4vw;
  }
  header #nav {
    margin-right: 20px;
    width: 6vw;
  }
}

.side_circles {
  display: none;
  width: 15px;
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.side_circles svg {
  margin: 3px 0;
}

.side_circles svg circle {
  stroke: #A3A3A3;
  stroke-width: 2;
}

@media screen and (max-width: 690px) {
  .side_circles {
    display: none;
  }
}

@media (pointer: coarse) {
  .side_circles {
    display: none;
  }
}

.mobile_menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: none;
  -ms-grid-columns: 1fr 300px;
      grid-template-columns: 1fr 300px;
}

.mobile_menu .shadow {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

.mobile_menu .links {
  background-color: #141c42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding: 30px 30px;
}

.mobile_menu .links svg {
  width: 20px;
  stroke-width: 5;
  stroke-linecap: round;
  stroke: white;
  margin-bottom: 30px;
}

.mobile_menu .links svg:hover {
  cursor: pointer;
  stroke: #A3A3A3;
}

.mobile_menu .links li {
  list-style: none;
  text-align: right;
  margin-bottom: 30px;
  font-size: 25px;
  line-height: 23px;
}

.mobile_menu .links li:hover a, .mobile_menu .links li:focus a {
  color: #A3A3A3;
}

.mobile_menu .links li a {
  text-decoration: none;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home {
  background-color: #FCF6ED;
  font-size: 10px;
}

.home__contentwrapper {
  display: -ms-grid;
  display: grid;
  padding: 4em;
  padding-top: 0;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 420px auto;
      grid-template-rows: 420px auto;
}

.home__img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / -1 / 2;
  max-width: 610px;
  width: 45.5vw;
  height: 720px;
  position: relative;
  overflow: hidden;
}

.home__img img {
  position: relative;
  top: -10%;
  left: 50%;
  height: 100%;
  -webkit-transform: translateX(-52%) scale(1.3);
          transform: translateX(-52%) scale(1.3);
}

.home__names {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home__names p {
  margin: 0;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 9em;
  color: #141c42;
}

.home__names-plus {
  margin: -15px 0;
}

.home__names__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 0.5em;
  margin-top: 1.3em;
}

.home__names__icons a:hover svg .cls-2, .home__names__icons a:focus svg .cls-2 {
  stroke: #7d7d7d;
}

.home__names__icons a:hover svg .cls-4, .home__names__icons a:focus svg .cls-4 {
  fill: #7d7d7d;
}

.home__names__icons #icon_feather-instagram {
  width: 40.338px;
  height: 40.338px;
}

.home__names__icons #icon_feather-mail {
  margin-left: 1em;
  width: 50.39925px;
  height: 40.31925px;
}

.home__names__icons .cls-1, .home__names__icons .cls-2 {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.home__names__icons .cls-2 {
  stroke: #a3a3a3;
  stroke-width: 5px;
}

.home__names__icons .cls-3, .home__names__icons .cls-4 {
  stroke: none;
}

.home__names__icons .cls-4 {
  fill: #a3a3a3;
}

.home__action {
  grid-area: 2 / 1 / -1 / -1;
  -ms-grid-column-align: end;
      justify-self: end;
  background-color: #141c42;
  width: 920px;
  height: 230px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 250px;
      grid-template-columns: auto 250px;
}

.home__action__sendyourlove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home__action__sendyourlove > span {
  padding: 0 40px;
  font-size: 5.5em;
  font-weight: 300;
  line-height: 0.9em;
  color: white;
  text-align: left;
  text-transform: uppercase;
}

.home__action__sendyourlove > span > span {
  position: relative;
  right: 0.1em;
  font-size: 0.7em;
  opacity: 0.6;
}

.home__action__img {
  height: 230px;
  width: 250px;
  opacity: 0.4;
  overflow: hidden;
}

.home__action__img img {
  position: relative;
  top: -40px;
  left: -46px;
  width: 353px;
  height: auto;
}

.home__action svg {
  position: absolute;
  z-index: 99;
  top: 110%;
  right: 30%;
  width: 60px;
  fill: none;
  stroke: #DDD8D1;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@media screen and (max-width: 1349px) {
  .home__names {
    font-size: 0.8vw;
  }
  .home__action {
    width: 850px;
  }
}

@media screen and (max-width: 1000px) {
  .home__contentwrapper {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: 470px 370px;
        grid-template-rows: 470px 370px;
    position: relative;
    font-size: 10px;
  }
  .home__img {
    position: relative;
    top: -50px;
    width: 700px;
    height: 700px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home__names, .home__action {
    padding: 30px;
    width: 550px;
    height: auto;
    background-color: #141c42;
    -ms-grid-column-align: end;
        justify-self: end;
    grid-area: 2 / 1 / -1 / -1;
    position: relative;
  }
  .home__names {
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 7px;
    padding-bottom: 0;
  }
  .home__names p {
    color: white;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .home__names-plus {
    margin: -11.3px 0;
  }
  .home__names__icons {
    position: absolute;
    top: 30px;
    right: 56.5px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-top: 28px;
    margin-right: 0;
  }
  .home__names__icons #icon_feather-instagram {
    width: 45px;
    height: auto;
  }
  .home__names__icons #icon_feather-mail {
    margin-left: 9.04px;
    width: 55.5px;
    height: auto;
  }
  .home__action {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    padding-top: 5em;
  }
  .home__action span {
    padding: 0;
    opacity: 0.6;
    font-size: 3em;
    line-height: 1.1em;
  }
  .home__action span > span {
    opacity: 1;
    font-size: 1em;
  }
  .home__action__img {
    display: none;
    width: 0;
  }
  .home__action svg {
    color: white;
    opacity: 0.6;
    top: unset;
    bottom: 30px;
    right: 30px;
    width: 40px;
    stroke-width: 1.5;
  }
}

@media screen and (max-width: 750px) {
  .home__contentwrapper {
    -ms-grid-rows: 86vw 370px;
        grid-template-rows: 86vw 370px;
    padding: 0;
    padding-bottom: 40px;
  }
  .home__img {
    width: 80vw;
    height: 120vw;
    top: 0;
  }
  .home__names, .home__action {
    width: 70vw;
  }
}

@media screen and (max-width: 690px) {
  .home__contentwrapper {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .home__contentwrapper {
    -ms-grid-rows: 86vw 290px;
        grid-template-rows: 86vw 290px;
  }
  .home__img {
    width: 75vw;
    height: 115vw;
    top: 0;
  }
  .home__names, .home__action {
    width: 70vw;
  }
  .home__names {
    font-size: 5.5px;
  }
  .home__action {
    font-size: 7px;
  }
  .home__action svg {
    width: 30px;
  }
}

@media screen and (max-width: 450px) {
  .home__contentwrapper {
    -ms-grid-rows: 100vw 60vw;
        grid-template-rows: 100vw 60vw;
  }
  .home__img {
    width: 92.68vw;
    height: 140vw;
    top: 0;
    -o-object-fit: initial;
       object-fit: initial;
  }
  .home__names, .home__action {
    padding: 6.5vw;
    width: 80vw;
  }
  .home__names p {
    font-size: 9vw;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .home__names-plus {
    margin: -1.62273vw 0;
  }
  .home__names__icons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 7vw;
  }
  .home__names__icons #icon_feather-instagram {
    width: 8.11364vw;
    height: 8.11364vw;
  }
  .home__names__icons #icon_feather-mail {
    margin-left: 1.29818vw;
    width: 10.14205vw;
    height: 8.11364vw;
  }
  .home__action {
    font-size: 2vw;
    padding-top: 0;
  }
  .home__action svg {
    bottom: 6.5vw;
    right: 6.5vw;
    width: 8vw;
  }
}

.schedule__timeline {
  font-size: 10px;
  background-color: #FCF6ED;
  color: #242A40;
  width: auto;
  --pd: 6em;
  --pdt: 12em;
  --pdb: 12em;
  padding: var(--pdt) var(--pd) var(--pdb) var(--pd);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  row-gap: 100px;
  text-transform: uppercase;
}

.schedule__timeline #schedule_line {
  position: absolute;
  left: 50%;
  top: var(--pd);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0.35em;
  height: calc(100% - var(--pdb));
  background-color: #242A40;
}

.schedule__timeline #schedule_line::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  border-radius: 50%;
  height: 0.8em;
  width: 0.8em;
  background-color: #242A40;
}

.schedule__timeline #schedule_line::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 0.8em;
  width: 0.8em;
  background-color: #242A40;
}

.schedule__timeline__entry__line {
  height: 0.5em;
  margin: 1.3em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedule__timeline__entry__line span {
  font-size: 3em;
  display: none;
}

.schedule__timeline__entry__title {
  font-size: 3em;
  padding: 0 1em;
}

.schedule__timeline__entry__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5em;
  line-height: 1.7em;
  padding: 0 2em;
  white-space: nowrap;
}

.schedule__timeline__entry__desc span {
  font-weight: 600;
}

.schedule__timeline__wii {
  font-size: 1.5em;
  position: absolute;
  text-transform: capitalize;
  bottom: 3em;
  right: 3em;
}

.schedule__timeline > [class*="we"] {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.schedule__timeline > [class*="we"] svg {
  width: 20em;
  margin-left: 1.5em;
  stroke: #242A40;
}

.schedule__timeline > [class*="we"] svg line {
  stroke-width: 0.1444em;
}

.schedule__timeline > [class*="we"]:nth-of-type(2n + 1) {
  text-align: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.schedule__timeline > [class*="we"]:nth-of-type(2n + 2) {
  text-align: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.schedule__timeline > [class*="we"]:nth-of-type(2n + 2) .schedule__timeline__entry__title {
  padding: 0 0.9em;
}

.schedule__timeline > [class*="we"]:nth-of-type(2n + 2) svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 0;
  margin-right: 1.5em;
}

.schedule__timeline > svg {
  position: relative;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  padding: 0 3em;
  top: 1.8em;
}

.schedule__timeline > svg:nth-of-type(2n + 1) {
  -ms-grid-column-align: start;
      justify-self: start;
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.schedule__timeline > svg:nth-of-type(2n + 2) {
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.schedule__timeline #schedule_rings {
  stroke: #242A40;
  fill: none;
  width: 9em;
  stroke-width: 1.2;
}

.schedule__timeline #schedule_champagne {
  width: 5.5em;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.schedule__timeline #schedule_tray {
  width: 9em;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.schedule__timeline #schedule_disco {
  width: 12em;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@media screen and (max-width: 1210px) {
  .schedule__timeline {
    font-size: 8px;
  }
}

@media screen and (max-width: 970px) {
  .schedule__timeline {
    z-index: -1;
    --pdb: 200px;
  }
}

@media screen and (max-width: 690px) {
  .schedule__timeline {
    --pd: 5vw;
    font-size: 1.3vw;
    z-index: -1;
    --pdb: 200px;
  }
  .schedule__timeline > [class*="we"] svg line {
    stroke-width: 0.2vw;
  }
  .schedule__timeline #schedule_line {
    width: 0.4vw;
  }
  .schedule__timeline #schedule_line::after, .schedule__timeline #schedule_line::before {
    height: 0.8vw;
    width: 0.8vw;
  }
  .schedule__timeline__wii {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .schedule__timeline {
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 450px) {
  .schedule__timeline__entry__title {
    font-size: 3.2em;
  }
  .schedule__timeline__entry__line {
    margin: 1.7em 0;
  }
  .schedule__timeline__entry__desc {
    font-size: 1.6em;
  }
}

.details {
  position: relative;
  font-size: 10px;
}

.details__title {
  color: #DDD8D1;
  opacity: 0.29;
  font-size: 10em;
}

.details__contentwrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  gap: 40px;
  padding: 0 40px;
}

.details__date {
  position: relative;
  height: calc(100% - 100px);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.details__date__detes {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  position: -webkit-sticky;
  position: sticky;
  top: 90px;
}

.details__date__detes .content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.details__date__detes #tab {
  display: none;
}

.details__date__detes__basic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FCF6ED;
  color: #242A40;
  padding: 3em;
}

.details__date__detes__basic h3 {
  margin: 0;
  white-space: pre;
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
}

.details__date__detes__countdown {
  background-color: #141c42;
  color: #9B9B9B;
  font-size: 3.3em;
  line-height: 1em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1em;
}

.details__date__detes__countdown > div {
  opacity: 0.22;
}

.details__date button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  background: none;
  border: none;
  padding: 0;
  overflow: hidden;
  font-size: 0.7em;
}

.details__date button div.button_content {
  padding: 0.5vw 0.8vw;
  border: 0.07em solid #242A40;
  color: #242A40;
  font-size: 4em;
  font-weight: 400;
  font-family: Montserrat;
  text-transform: uppercase;
  padding: 4px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__date button div.button_content:hover, .details__date button div.button_content:focus {
  cursor: pointer;
  color: #404a71;
  border-color: #404a71;
}

.details__date button div.button_content:hover svg .cls-1, .details__date button div.button_content:focus svg .cls-1 {
  stroke: #404a71;
}

.details__date button div.button_content span {
  white-space: nowrap;
  font-size: 0.9em;
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in-out;
  transition: opacity 100ms ease-in-out;
}

.details__date button div.button_content div.calendar_icon {
  position: relative;
  margin-right: 0.6em;
}

.details__date button div.button_content #date {
  position: absolute;
  left: 50%;
  top: 1em;
  font-size: 0.6em;
  font-weight: 500;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.details__date button div.button_content svg {
  width: 1.2em;
  height: 1.4em;
  padding: 0;
}

.details__date button div.button_content svg .cls-1 {
  fill: none;
  stroke: #242A40;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4;
}

.details__date button div.button_menu {
  height: 100%;
  width: 90%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.details__date button div.button_menu a {
  margin: 0 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__date button div.button_menu a:hover svg, .details__date button div.button_menu a:focus svg {
  fill: #404a71;
  cursor: pointer;
}

.details__date button div.button_menu a svg {
  width: 4em;
  height: 100%;
  fill: #242A40;
}

@media screen and (max-width: 1210px) {
  .details {
    font-size: 7px;
  }
}

@media screen and (min-width: 970px) {
  .details__date__detes .content {
    left: 0 !important;
  }
}

@media screen and (max-width: 970px) {
  .details__contentwrapper {
    -ms-grid-columns: auto 100%;
        grid-template-columns: auto 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 5px;
  }
  .details__title {
    position: absolute;
    right: 60px;
    z-index: 0;
    font-size: 8em;
  }
  .details__date {
    position: unset;
    display: unset;
    height: 100%;
  }
  .details__date__detes {
    width: calc(200% - 35px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .details__date__detes .content {
    -ms-grid-columns: auto 40px;
        grid-template-columns: auto 40px;
    left: 0;
  }
  .details__date__detes .content:not(.ui-draggable-dragging) {
    -webkit-transition: left 200ms ease-in-out;
    transition: left 200ms ease-in-out;
  }
  .details__date__detes .content.over {
    left: 4px !important;
  }
  .details__date__detes__basic {
    background-color: #141c42;
    color: white;
    padding-bottom: 10px;
  }
  .details__date__detes__countdown {
    padding-bottom: 10px;
  }
  .details__date__detes #tab {
    grid-area: 1 / 2 / -1 / -1;
    cursor: pointer;
    -ms-flex-item-align: center;
        align-self: center;
    display: block;
    height: 16em;
    width: 5.9em;
    margin-left: -0.2em;
    border-radius: 0 2em 2em 0;
    background-color: #141c42;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .details__date__detes #tab:hover, .details__date__detes #tab:active {
    background-color: #18214e;
  }
  .details__date__detes #tab span {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    white-space: nowrap;
    font-size: 2.4em;
    color: white;
  }
  .details__date__detes #tab svg {
    height: 60%;
    stroke: white;
    stroke-width: 1px;
  }
  .details__date button {
    position: absolute;
    top: auto;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media screen and (max-width: 690px) {
  .details__contentwrapper {
    -ms-grid-columns: auto 100%;
        grid-template-columns: auto 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 5px;
    padding: 0;
    padding-left: 20px;
  }
  .details__title {
    right: 20px;
    font-size: 5em;
  }
  .details__date {
    position: unset;
    height: 100%;
    margin-right: -20px;
  }
  .details__date__detes {
    width: calc(200% - 35px);
  }
}

.travel_accommodations {
  font-size: 10px;
}

.travel_accommodations__contentwrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr minmax(30vw, 2fr);
      grid-template-columns: 3fr minmax(30vw, 2fr);
  -ms-grid-rows: auto 1fr 1fr;
      grid-template-rows: auto 1fr 1fr;
  gap: 40px;
  padding: 0 40px;
}

.travel_accommodations a {
  margin-top: 1em;
  border: 1px solid #242A40;
  color: #242A40;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.8em;
  font-weight: 300;
  padding: 0.6em 1em;
}

.travel_accommodations a:hover, .travel_accommodations a:focus {
  border-color: #5b6aa2;
  color: #5b6aa2;
}

.travel_accommodations__map {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / -1 / 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80% 20%;
      grid-template-rows: 80% 20%;
}

.travel_accommodations__map__img {
  background-color: #FCF6ED;
  width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.travel_accommodations__map__img img {
  width: 100%;
  height: 100%;
  image-rendering: crisp-edges;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.travel_accommodations__map__airplaneinfo {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #141c42;
  width: 100%;
  height: 100%;
  margin: 0 0;
}

.travel_accommodations__map__airplaneinfo svg {
  width: 4em;
}

.travel_accommodations__map__airplaneinfo svg path {
  stroke: white;
}

.travel_accommodations__map__airplaneinfo span {
  font-size: 3em;
  margin: 0.5em 0 0.2em;
  color: white;
  text-align: center;
}

.travel_accommodations__map__airplaneinfo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.travel_accommodations__map__airplaneinfo div a {
  font-weight: 500;
  border-color: white;
  color: white;
}

.travel_accommodations__map__airplaneinfo div a:first-of-type {
  margin-right: 1em;
}

.travel_accommodations__map__airplaneinfo div a:hover, .travel_accommodations__map__airplaneinfo div a:focus {
  border-color: #b3b3b3;
  color: #b3b3b3;
}

.travel_accommodations__title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-area: 1 / 2 / 2 / -1;
  color: #DDD8D1;
  opacity: 0.29;
}

.travel_accommodations__title h1 {
  font-size: 10em;
  line-height: 0.7em;
  margin: 0;
  font-weight: 400;
}

.travel_accommodations__hotel h3 {
  color: #141c42;
  font-size: 3.3em;
  font-weight: 400;
  margin: 0;
  margin-left: -0.05em;
}

.travel_accommodations__hotel h4 {
  text-transform: uppercase;
  font-size: 1.8em;
  margin: 0;
  margin-top: 0.3em;
  font-weight: 200;
}

.travel_accommodations__hotel p {
  margin-top: 0.6em;
  font-size: 1.8em;
}

.travel_accommodations .hotel1 {
  background-color: #FCF6ED;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content {
  height: 100%;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > * {
  padding: 3em;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > div {
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > div > div {
  margin-bottom: 1em;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > div a {
  margin: 0;
  font-weight: 500;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > div a svg {
  fill: #242A40;
  width: 1em;
  margin-right: 0.5em;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > div a svg#airbnb {
  stroke: #242A40;
  stroke-width: 4;
  width: 1.2em;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > div a:hover svg, .travel_accommodations .hotel1 .travel_accommodations__hotel__content > div a:hover svg#airbnb, .travel_accommodations .hotel1 .travel_accommodations__hotel__content > div a:active svg, .travel_accommodations .hotel1 .travel_accommodations__hotel__content > div a:active svg#airbnb, .travel_accommodations .hotel1 .travel_accommodations__hotel__content > div a:focus svg, .travel_accommodations .hotel1 .travel_accommodations__hotel__content > div a:focus svg#airbnb {
  fill: #5b6aa2;
  stroke: #5b6aa2;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > div a:first-of-type {
  margin-right: 1em;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > a {
  overflow: hidden;
  height: 6.5em;
  background-color: #FCF6ED;
  font-size: unset;
  margin: 0;
  border: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > a:hover {
  cursor: pointer;
  color: inherit;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > a:hover img {
  opacity: 1;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > a > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > a img {
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to left, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, right top, left top, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to left, black, rgba(0, 0, 0, 0));
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

@media (pointer: coarse) {
  .travel_accommodations .hotel1 .travel_accommodations__hotel__content > a img {
    opacity: 1;
  }
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > a h3 {
  color: inherit;
  text-transform: capitalize;
  margin: 0;
  margin-right: 1.5em;
  font-size: 2.3em;
  font-weight: 600;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > a span {
  font-size: 1.3em;
  opacity: 0.5;
  margin: 0.2em 0;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > a p {
  text-transform: initial;
  margin: 0;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > a svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.6em;
  stroke-width: 4;
  fill: none;
  stroke: #242A40;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > a:nth-of-type(1), .travel_accommodations .hotel1 .travel_accommodations__hotel__content > a:nth-of-type(3) {
  background-color: #141c42;
  color: white;
}

.travel_accommodations .hotel1 .travel_accommodations__hotel__content > a:nth-of-type(1) svg, .travel_accommodations .hotel1 .travel_accommodations__hotel__content > a:nth-of-type(3) svg {
  stroke: white;
}

.travel_accommodations .hotel2 {
  height: 100%;
  background-color: #FCF6ED;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #242A40;
}

.travel_accommodations .hotel2 .travel_accommodations__hotel__content {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.travel_accommodations .hotel2 .travel_accommodations__hotel__content div {
  padding: 3em;
  padding-top: 2.4em;
  background: #FCF6ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.travel_accommodations .hotel2 .carousel {
  font-size: unset;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 55%;
  overflow: hidden;
  background-color: black;
}

.travel_accommodations .hotel2 .carousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  opacity: 0;
  -webkit-transition: right 700ms;
  transition: right 700ms;
}

.travel_accommodations .hotel2 .carousel img#car1 {
  opacity: 1;
  right: 0;
}

.travel_accommodations .hotel2 .carousel img#car2 {
  opacity: 1;
  right: 100%;
}

.travel_accommodations .hotel2 .carousel:hover #car1, .travel_accommodations .hotel2 .carousel:focus #car1,
.travel_accommodations .hotel2 .carousel:hover #car2, .travel_accommodations .hotel2 .carousel:focus #car2 {
  opacity: 0.8;
}

.travel_accommodations .hotel2 span {
  height: 0.6em;
  background-color: #141c42;
}

.travel_accommodations .hotel2 span.start {
  -webkit-animation: prg 10s linear infinite;
          animation: prg 10s linear infinite;
}

@-webkit-keyframes prg {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes prg {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.travel_accommodations .hotel2 .cta {
  font-weight: 500;
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
}

.travel_accommodations .hotel2 .cta svg {
  fill: #242A40;
  width: 1em;
  margin-right: 0.5em;
}

.travel_accommodations .hotel2 .cta:hover svg, .travel_accommodations .hotel2 .cta:active svg, .travel_accommodations .hotel2 .cta:focus svg {
  fill: #5b6aa2;
}

@media screen and (max-width: 1400px) {
  .travel_accommodations__contentwrapper {
    font-size: 8px;
  }
}

@media screen and (max-width: 1078px) {
  .travel_accommodations__contentwrapper {
    -ms-grid-rows: 120vw 1fr;
        grid-template-rows: 120vw 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .travel_accommodations__map {
    width: 100%;
    justify-self: flex-start;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-area: 1 / 1 / 2 / -1;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
  .travel_accommodations__map__img, .travel_accommodations__map__airplaneinfo {
    grid-area: 1 / 1 / -1 / -1;
  }
  .travel_accommodations__map__airplaneinfo {
    width: auto;
    height: 36em;
    padding: 0 6em;
    justify-self: flex-end;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .travel_accommodations__map__airplaneinfo span {
    margin-bottom: 1em;
  }
  .travel_accommodations__map__airplaneinfo div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .travel_accommodations__map__airplaneinfo div a:first-of-type {
    margin-right: 0em;
  }
  .travel_accommodations__title {
    font-size: 6px;
    grid-area: 1 / 1 / -1 / -1;
    position: absolute;
    padding: 5em;
  }
  .travel_accommodations__hotel {
    font-size: 8px;
  }
}

@media screen and (max-width: 900px) {
  .travel_accommodations__contentwrapper {
    -ms-grid-rows: 125vw 1fr 1fr;
        grid-template-rows: 125vw 1fr 1fr;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .travel_accommodations__hotel {
    font-size: 9px;
  }
  .travel_accommodations__title {
    font-size: 5px;
  }
}

@media screen and (max-width: 690px) {
  .travel_accommodations__contentwrapper {
    -ms-grid-rows: 150vw 1fr 1fr;
        grid-template-rows: 150vw 1fr 1fr;
    padding: 0;
    gap: 20px;
  }
  .travel_accommodations__map {
    width: calc(100% - 20px);
    justify-self: flex-start;
    margin-right: 20px;
  }
  .travel_accommodations__map__airplaneinfo {
    padding: 0 4em;
  }
  .travel_accommodations__hotel {
    width: calc(100% - 20px);
  }
  .travel_accommodations__hotel.hotel1 {
    margin-left: 20px;
  }
}

@media screen and (max-width: 590px) {
  .travel_accommodations__contentwrapper {
    -ms-grid-rows: 180vw 1fr 1fr;
        grid-template-rows: 180vw 1fr 1fr;
  }
  .travel_accommodations__title {
    font-size: 4px;
  }
  .travel_accommodations__map {
    -ms-grid-rows: 8fr 2fr;
        grid-template-rows: 8fr 2fr;
  }
  .travel_accommodations__map__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-area: 1 / 1 / 2 / -1;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .travel_accommodations__map__img img {
    margin-bottom: -3%;
  }
  .travel_accommodations__map__airplaneinfo {
    grid-area: 2 / 1 / -1 / -1;
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    height: auto;
    padding: 3em 0;
    font-size: 1.8vw;
  }
  .travel_accommodations__map__airplaneinfo span {
    margin-bottom: 0.2em;
  }
  .travel_accommodations__map__airplaneinfo div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .travel_accommodations__map__airplaneinfo div a:first-of-type {
    margin-right: 1em;
  }
  .travel_accommodations__hotel {
    font-size: 1.8vw;
  }
}

.follow {
  margin-top: 60px;
  --grid: 240px;
  font-size: 10px;
}

.follow__contentwrapper {
  padding: 0 40px;
}

.follow__feed {
  align-self: flex-start;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(15%, var(--grid)) (var(--grid))[5];
      grid-template-columns: minmax(15%, var(--grid)) repeat(5, var(--grid));
  -ms-grid-rows: (var(--grid))[3];
      grid-template-rows: repeat(3, var(--grid));
}

.follow__feed__prevw {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 1 / 2 / -1 / 4;
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  background-color: #FCF6ED;
  position: relative;
  z-index: 9;
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 10px;
  width: 53em;
  height: 76em;
}

.follow__feed__prevw__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 3em;
}

.follow__feed__prevw__header__follow {
  color: #E37575;
  text-transform: capitalize;
}

.follow__feed__prevw__username {
  font-size: 1.8em;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #242A40;
}

.follow__feed__prevw__username #Ellipse_6 {
  width: 2em;
  height: 2em;
  margin-right: 1em;
}

.follow__feed__prevw__img {
  margin: 1.5em 3em;
  width: 47em;
  height: 47em;
}

.follow__feed__prevw__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.follow__feed__prevw__img img:hover, .follow__feed__prevw__img img:focus {
  opacity: 0.9;
}

.follow__feed__prevw .Icon_awesome-heart {
  width: 3em;
  height: auto;
  margin-left: 3em;
  margin-bottom: 1.5em;
  fill: none;
  stroke: #242A40;
  stroke-width: 3;
  --red: rgb(218, 1, 1);
  cursor: pointer;
}

.follow__feed__prevw .Icon_awesome-heart:hover {
  stroke: var(--red);
}

.follow__feed__prevw #liked {
  -webkit-animation: liked 400ms ease-in-out;
          animation: liked 400ms ease-in-out;
  fill: var(--red);
  stroke: var(--red);
}

@-webkit-keyframes liked {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes liked {
  0% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  40% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  80% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.follow__feed__prevw p {
  margin: 0 1.67em;
  margin-bottom: 1em;
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.2em;
}

.follow__feed__prevw p span {
  font-weight: 500;
}

.follow__feed__prevw p a {
  font-weight: 500;
  text-decoration: none;
  color: #242A40;
}

.follow__feed .rotate_img {
  rotate: 90deg;
}

.follow__feed .collage1, .follow__feed .collage2 {
  position: absolute;
  height: 100%;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

.follow__feed .collage1 {
  position: absolute;
  z-index: 7;
  left: 0;
  height: 100%;
}

.follow__feed .collage2 {
  position: absolute;
  z-index: 6;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 99%;
     object-position: 99%;
  max-width: 100%;
  height: 100%;
}

@media screen and (max-width: 832px) {
  .follow__feed {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 777px) {
  .follow {
    margin-top: 40px;
  }
  .follow__contentwrapper {
    padding: 0;
  }
  .follow__feed {
    --grid: 200px;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 20vw auto;
        grid-template-rows: 20vw auto;
  }
  .follow__feed .collage1 {
    display: none;
  }
  .follow__feed .collage2 {
    height: auto;
    width: 100%;
  }
  .follow__feed__prevw {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: 2 / 2 / -1 / 4;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media screen and (max-width: 690px) {
  .follow {
    margin-top: 20px;
  }
  .follow__feed__prevw {
    margin: 0 20px;
  }
}

@media screen and (max-width: 614px) {
  .follow__feed__prevw {
    font-size: 9px;
  }
}

@media screen and (max-width: 519px) {
  .follow__feed {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .follow__feed .collage2 {
    height: auto;
    width: 100%;
  }
  .follow__feed__prevw {
    height: auto;
    width: 95vw;
    padding: 20px 0;
  }
  .follow__feed__prevw > * {
    margin-left: 20px;
    margin-right: 20px;
  }
  .follow__feed__prevw__img {
    width: auto;
    height: 83.6vw;
  }
}

.registry {
  margin-top: 60px;
  width: 100%;
  background-color: #FCF6ED;
  color: #242A40;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 40px;
  padding-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.registry div {
  padding-right: 40px;
  margin-bottom: 1.5em;
}

.registry div span {
  font-size: 2em;
  font-weight: 600;
}

.registry div p {
  max-width: 35em;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.registry__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow: scroll;
  padding-bottom: 15px;
  margin-bottom: -15px;
}

.registry li {
  margin-right: 2em;
  list-style: none;
  border: 1px solid #242A40;
  border-radius: 0.5em;
  padding: 1em;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.registry li:hover, .registry li:active {
  opacity: 1;
}

.registry a {
  height: 100%;
  width: 9em;
  color: #242A40;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registry a span {
  font-size: 0.7em;
}

.registry img {
  max-width: 7.5em;
  height: 3em;
}

.registry > span {
  height: 0;
  opacity: 0;
  font-size: 1.5em;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registry > span svg {
  margin-left: 1em;
  display: inline-block;
  width: auto;
  height: 1.2em;
  fill: none;
  stroke: #242A40;
  stroke-width: 1.3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@media screen and (max-width: 690px) {
  .registry {
    padding: 40px 20px;
    padding-right: 0;
  }
  .registry div {
    padding-right: 20px;
  }
}

@media screen and (max-width: 540px) {
  .registry > span {
    opacity: 1;
    height: auto;
    margin-top: 1em;
  }
}

.contact {
  display: -ms-grid;
  display: grid;
  font-size: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 40px;
  background-color: #141c42;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact > div {
  height: 100%;
  color: white;
}

.contact > div svg {
  stroke: white;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.contact a {
  text-decoration: none;
  color: inherit;
}

.contact__dropbox {
  -ms-grid-column-align: start;
      justify-self: start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.contact__dropbox span {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-area: 1 / 1 / 2 / -1;
  font-size: 2em;
  font-weight: 600;
}

.contact__dropbox #wind {
  grid-area: 2 / 1 / -1 / -1;
  width: 18em;
}

.contact__dropbox #wind .gust1 {
  stroke-dasharray: 18 90;
  stroke-dashoffset: 18;
}

.contact__dropbox #wind .gust2 {
  stroke-dasharray: 10 33;
  stroke-dashoffset: 10;
}

.contact__dropbox #wind .gust3 {
  stroke-dasharray: 10 28;
  stroke-dashoffset: 10;
}

.contact__dropbox a {
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-area: 2 / 1 / -1 / -1;
  width: 5em;
}

.contact__dropbox a svg {
  width: 100%;
  fill: transparent;
  stroke-width: 1.3;
  -webkit-transition: -webkit-transform 1.1s ease-out;
  transition: -webkit-transform 1.1s ease-out;
  transition: transform 1.1s ease-out;
  transition: transform 1.1s ease-out, -webkit-transform 1.1s ease-out;
}

.contact__dropbox a:hover, .contact__dropbox a:active {
  opacity: 1;
}

.contact__dropbox a:hover svg, .contact__dropbox a:active svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 1.1s ease-out 400ms;
  transition: -webkit-transform 1.1s ease-out 400ms;
  transition: transform 1.1s ease-out 400ms;
  transition: transform 1.1s ease-out 400ms, -webkit-transform 1.1s ease-out 400ms;
}

.contact__dropbox a:hover svg #red, .contact__dropbox a:active svg #red {
  fill: #DB4437;
  stroke: #a7382d;
  -webkit-transition: all 200ms ease-in-out 550ms;
  transition: all 200ms ease-in-out 550ms;
}

.contact__dropbox a:hover svg #blue, .contact__dropbox a:active svg #blue {
  fill: #4285F4;
  stroke: #2c5eaf;
  -webkit-transition: all 200ms ease-in-out 750ms;
  transition: all 200ms ease-in-out 750ms;
}

.contact__dropbox a:hover svg #green, .contact__dropbox a:active svg #green {
  fill: #0F9D58;
  stroke: #0a6d3d;
  -webkit-transition: all 200ms ease-in-out 950ms;
  transition: all 200ms ease-in-out 950ms;
}

.contact__dropbox a:hover svg #yellow, .contact__dropbox a:active svg #yellow {
  fill: #F4B400;
  stroke: #bb8a02;
  -webkit-transition: all 200ms ease-in-out 1150ms;
  transition: all 200ms ease-in-out 1150ms;
}

.contact__dropbox a:hover + #wind .gust1, .contact__dropbox a:active + #wind .gust1 {
  -webkit-animation: gust1 1s ease-in-out;
          animation: gust1 1s ease-in-out;
}

.contact__dropbox a:hover + #wind .gust2, .contact__dropbox a:active + #wind .gust2 {
  -webkit-animation: gust2 1s ease-in-out;
          animation: gust2 1s ease-in-out;
}

.contact__dropbox a:hover + #wind .gust3, .contact__dropbox a:active + #wind .gust3 {
  -webkit-animation: gust3 500ms ease-in-out 500ms;
          animation: gust3 500ms ease-in-out 500ms;
}

@-webkit-keyframes gust1 {
  0% {
    stroke-dashoffset: 18;
  }
  100% {
    stroke-dashoffset: -90;
  }
}

@keyframes gust1 {
  0% {
    stroke-dashoffset: 18;
  }
  100% {
    stroke-dashoffset: -90;
  }
}

@-webkit-keyframes gust2 {
  0% {
    stroke-dashoffset: 10;
  }
  100% {
    stroke-dashoffset: -33;
  }
}

@keyframes gust2 {
  0% {
    stroke-dashoffset: 10;
  }
  100% {
    stroke-dashoffset: -33;
  }
}

@-webkit-keyframes gust3 {
  0% {
    stroke-dashoffset: 10;
  }
  100% {
    stroke-dashoffset: -28;
  }
}

@keyframes gust3 {
  0% {
    stroke-dashoffset: 10;
  }
  100% {
    stroke-dashoffset: -28;
  }
}

@-webkit-keyframes shoot-arrow {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -15;
  }
}

@keyframes shoot-arrow {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -15;
  }
}

@-webkit-keyframes reset-arrow {
  0% {
    stroke-dashoffset: 10;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes reset-arrow {
  0% {
    stroke-dashoffset: 10;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact__info span, .contact__info > a {
  position: relative;
  font-size: 2em;
  text-transform: lowercase;
}

.contact__info a {
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  text-decoration: underline;
}

.contact__info a:hover {
  opacity: 1;
}

.contact__info__link {
  margin-bottom: 0.5em;
}

.contact__info span a {
  position: relative;
}

.contact__info span a svg {
  position: absolute;
  right: calc(100% + 0.5em);
  bottom: 2px;
}

.contact__info svg {
  width: 1.5em;
  stroke-width: 2;
}

.contact__info__topic {
  font-weight: 600;
  margin-bottom: 0.1em;
}

.contact__info__topic:last-of-type {
  margin-top: 0.5em;
}

@media screen and (max-width: 1000px) {
  .contact {
    font-size: 9px;
  }
}

@media screen and (max-width: 800px) {
  .contact {
    font-size: 9px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    gap: 20px;
  }
  .contact__info {
    -ms-grid-column-align: start;
        justify-self: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contact__info a svg {
    right: auto;
    left: calc(100% + 0.5em);
  }
}

@media screen and (max-width: 690px) {
  .contact {
    padding: 40px 20px;
  }
}

@media screen and (max-width: 360px) {
  .contact {
    font-size: 2.4vw;
  }
}
/*# sourceMappingURL=main.css.map */