@import '_colors.scss';

button {
  outline: 0;
  background-color: white;
}

body {
  width: 100vw;
  margin: 0;
  font-family: Montserrat;
  position: relative;
  overflow-x: hidden;
}

main {
  position: relative;
  overflow: visible;
  [class$="contentwrapper"] {
    margin: 0 auto 40px;
    max-width: 1380px;
  }
}

@media screen and (max-width: 690px) {
  main {
    [class$="contentwrapper"] {
      margin: 0 auto 20px;
    }
  }
}


header{
  // overflow-x: hidden;
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: color(primary);
  padding: 0.8em 0;

  span {
    display: none;
  }

  > a {
    display: none;
  }

  nav {
    list-style: none;
    display: flex;
    margin-right: 1em;
    li {
      margin-left: 1.4em;
      a {
        text-align: center;
        text-decoration: none;
        color: color(header);
        font-size: 20px; font-weight: 200;
        letter-spacing: 0.28px;
  
        &:hover {
          font-weight: 400;
          letter-spacing: 0;
        }
  
        &#link_travel_accommodations:hover {
          letter-spacing: 0.05px;
        }
      }
    }
  }

  #nav {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  header {
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

    #nav_names {
      text-decoration: none;
      display: initial;
      font-size: 20px;
      color: #9B9B9B;
      text-transform: uppercase;
      margin-left: 30px;
      &:hover, &:focus {
        cursor: pointer;
        color: color(secondary);
      }
    }

    nav {
      display: none;
    }
    #nav {
      display: flex;
      align-items: center;
      margin-right: 30px;
      width: 25px;
      &:hover, &:focus  {
        cursor: pointer;
        path {
          stroke: color(secondary);
        }
      }

      svg {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 20px 0 ;
    #nav_names {
      margin-left: 20px;
      font-size: 4vw;
    }
    #nav {
      margin-right: 20px;
      width: 6vw;
    }
  }
}

.side_circles {
  display: none;
  width: 15px;
  position: fixed;
  right: 15px;
  z-index: 999;
  top: 50%;
  transform: translate(0, -50%);
  svg {
    margin: 3px 0;
    circle{
      stroke: color(icon);
      stroke-width: 2;
    }
  }
}

@media screen and (max-width:690px) {
  .side_circles {display:none;}
}

@media (pointer:coarse) {
  .side_circles {display:none;}
}

.mobile_menu {
  position: fixed;
  top: 0; right: 0;
  z-index: 9999;
  width: 100vw; height: 100vh;
  display: none;
  grid-template-columns: 1fr 300px;
  .shadow {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
  }
  .links {
    background-color: color(secondary);
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 30px 30px;
    svg {
      width: 20px;
      stroke-width: 5;
      stroke-linecap: round;
      stroke: white;
      margin-bottom: 30px;
      &:hover {
        cursor: pointer;
        stroke: color(icon);
      }
    }
    li {
      list-style: none;
      text-align: right;
      margin-bottom: 30px;
      font-size: 25px;
      line-height: 23px;
      &:hover a, &:focus a{
        color: color(icon);
      }
      a {
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

}

@import '_home.scss', '_schedule.scss', '_details.scss',  '_travel_accom.scss', '_follow.scss', '_registry.scss', '_contact.scss';


